<!-- <div fxLayout="row" fxLayoutAlign="left center" class="sticky">
  <div fxFlex="15">
    <p>storybox logo</p>

  </div>
  <div fxFlex="50">
    <form class="search-from">
      <mat-form-field class="search">
        <input matInput placeholder="Search">
      </mat-form-field>
    </form>
  </div>
</div> -->

<mat-toolbar class="sticky">
  <mat-toolbar-row>
    <span>
      <p>Storybox</p>

    </span>
    <span>
      <form class="search-from">
        <mat-form-field class="search" color="primary">
          <input matInput placeholder="Search">
        </mat-form-field>
      </form>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <form class="search-from"> 
    <mat-form-field class="search" color="primary">
      <input matInput placeholder="Search">
    </mat-form-field>
  </form> -->