
<mat-toolbar class="sticky">
  <mat-toolbar-row>

      <img class="logo" src="../../assets/images/Storybox-logo.png">
    <form class="search-from" (keyup.enter)="search()">
      <mat-form-field class="search" color="primary">
        <input matInput [(ngModel)]="searchText" name="searchText" placeholder="Search">
      </mat-form-field>
    </form>
    <span class="spacer">

    </span>
    <span style="font-weight: normal; font-size: small">
      {{authService.username}}

    </span>

  </mat-toolbar-row>
</mat-toolbar>